body {
  margin: 0;
  background: black;
  font-family: 'Lato', sans-serif;
}

.header {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: white;
}

.logo {
  height: 40px;
}

.header p {
  margin-bottom: 10px;
  margin-left: 3px;
}

.datatest {
  background: white;
}

.lightbox {
  display: none;
}

.subwaymap {
  width: 100%;
  height: 100vh;
}

#markers path{
  opacity: 20%; 
}

.published {
  opacity: 100% !important;
  cursor: pointer;
  stroke-width: 11px;
  stroke: white; 
}

.published:hover {
  stroke-width: 11px;
  stroke: grey;
  fill: grey !important;
}

/* .subwayline {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */

.subwayline:hover {
  stroke: white;
  cursor: pointer;
}

/* Modal Content */
.stop-banner {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  padding-left: 20px;
}

.poem-info {
  margin-top: 30px;
  display: flex;
}

.poem, .poet {
  flex: 1 1 0px;
}

.poem {
  margin-right: 5%;
}

/* Line Background Colors  */
.seven-line {
  background: #b934ad;
}

.n-line, .w-line, .r-line {
  background: #fccc0a;
}

.m-line, .f-line {
  background: #ff6319; */
  stroke-dasharray: 100;

}

.e-line, .a-line {
  background: #0039a7;
}

.j-line, .z-line {
  background: #996633;
}

.g-line {
  background: #6cbf46;
}

.s-line {
  background: #7f8082;
}

.airtrain {
  background: #02705f;
}


/* Mobile  */
@media(max-width: 767px) {
  .header {
    position: static;
  }

  .subwaymap {
    display: none;
  }

  .mobile-stop {
    color: white;
  }

  .poem-info {
    display: block;
  }
}

/* [LIGHTBOX] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
#lb-img {
  text-align: center;
}