body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.header {
  left: 50px;
  bottom: 20px;
  position: absolute;
  max-width: 480px;
}

.tagline {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

.logo {
  height: 38px;
}

.header p {
  margin-bottom: 10px;
  margin-left: 3px;
}

.lightbox {
  display: none;
}

.subwaymap {
  width: 100%;
  height: 100vh;
}

#markers path{
  opacity: 20%;
}

.published {
  opacity: 100% !important;
  cursor: pointer;
  stroke-width: 7px;
  stroke: black;
}

.published:hover {
  stroke-width: 7px;
  stroke: grey;
  fill: grey !important;
}

.subwayline:hover {
  cursor: pointer;
}

/* Modal Content */
.stop-banner {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  padding-left: 20px;
}

.poem-info {
  margin-top: 30px;
  display: flex;
}

.poem, .poet {
  flex: 1 1 0px;
}

.poet {
  padding-top: 65px;
}

.poem {
  margin-right: 5%;
}

.poem h2 {
  margin-bottom: 0;
}

.poem p {
  margin-top: 0;
}

.featherlight .featherlight-content {
  height: 90%;
}

/* Line Background Colors  */
.seven-line {
  background: #b934ad;
}

.n-line, .w-line, .r-line {
  background: #fccc0a;
}

.m-line, .f-line {
  background: #ff6319;
}

.e-line, .a-line {
  background: #0039a7;
}

.j-line, .z-line {
  background: #996633;
}

.g-line {
  background: #6cbf46;
}

.s-line {
  background: #7f8082;
}

.airtrain {
  background: #02705f;
}


/* Mobile  */
@media(max-width: 767px) {
  .header {
    position: static;
    padding-left: 10px;
  }

  .instructions {
    display: none;
  }

  .subwaymap {
    display: none;
  }

  .poem-info {
    display: block;
  }

  .mobile-stop {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px;
  }

  .mobile-line {
    padding: 5px 10px;
    margin-top: 25px 0 0 0;
    color: white;
    text-transform: capitalize;
  }

  .mobile-stop:hover {
    color: grey;
  }

  .poet {
    padding-top: 20px;
  }
}
