body {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.header {
  left: 50px;
  bottom: 20px;
  position: absolute;
  max-width: 478px;
}

.nav {
  position: absolute;
  right: 20px;
  text-align: right;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style-type: none;
  margin: 0 10px;
}

a {
  color: black;
  box-shadow: inset 0 -3px 0 -1px #000;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:hover {
  box-shadow: inset 0 -23px 0 -1px #000;
  color: white;
  text-decoration: none;
}

.copyright {
  position: absolute;
  font-size: 14px;
  bottom: 0;
  right: 20px;
}

.tagline {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

.logo {
  height: 39px;
}

.header p {
  margin-bottom: 10px;
  margin-left: 3px;
}

.lightbox {
  display: none;
}

.subwaymap {
  width: 100%;
  height: 100vh;
}

#markers path{
  opacity: 20%;
}

.published {
  opacity: 100% !important;
  cursor: pointer;
  fill: #6bbf45 !important;
  stroke: black;
  stroke-width: 1px;
  -webkit-transform: scale(2);
  -webkit-transform-origin: 50% 50%;
  transform: scale(2);
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.published:hover {
  fill: black !important;
}

/* .subwayline:hover {
  cursor: pointer;
} */

/* Modal Content */
.stop-banner {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  padding-left: 20px;
}

.poem-info {
  margin-top: 30px;
  display: flex;
}

.poem, .poet {
  flex: 1 1 0px;
}

.poet {
  padding-top: 65px;
}

.poem {
  margin-right: 5%;
}

.poem h2 {
  margin-bottom: 0;
}

.poem p {
  margin-top: 0;
}

.featherlight .featherlight-content {
  height: 90%;
}

/* Line Background Colors  */
.seven-line {
  background: #b934ad;
}

.n-line, .w-line, .r-line {
  background: #fccc0a;
}

.m-line, .f-line {
  background: #ff6319;
}

.e-line, .a-line {
  background: #0039a7;
}

.j-line, .z-line {
  background: #996633;
}

.g-line {
  background: #6cbf46;
}

.s-line {
  background: #7f8082;
}

.airtrain {
  background: #02705f;
}


/* Mobile  */
@media(max-width: 1024px) {
  .header {
    max-width: 100%;
    position: static;
    padding: 10px;
  }

  .copyright {
    position: static;
    padding-left: 10px;
  }

  .instructions {
    display: none;
  }

  .subwaymap {
    display: none;
  }

  .poem-info {
    display: block;
  }

  .mobile-stop {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px;
    box-shadow: none;
  }

  .mobile-line {
    padding: 5px 10px;
    margin-top: 25px 0 0 0;
    color: white;
    text-transform: capitalize;
  }

  .mobile-stop:hover {
    color: white;
  }

  .poet {
    padding-top: 20px;
  }

  .published {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
